<!DOCTYPE html>
<html lang="<$= locale $>">
<head>
  <title><$= __("page-title-pi") $></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="og:title" content="<$= __("page-title-pi") $>">
  <meta name="og:description" content="<$= __("ogp-description") $>">
  <meta property="og:image" content="https://getwild.mybluemix.net/images/ogp-image.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@storywriter">
  <meta name="twitter:creator" content="@storywriter">
  <meta name="twitter:title" content="<$= __("page-title-pi") $>">
  <meta name="twitter:description" content="<$= __("ogp-description") $>">
  <meta name="twitter:image" content="https://getwild.mybluemix.net/images/ogp-image.png">

  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <link rel="icon" href="/images/favicon.png" type="image/png">

  <!-- Sample CSS -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Debug Tool -->
  <script>
    var _c = _C = console.log;
  </script>

  <!-- Modernizr -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Original CSS: Bootstrap-extend -->
  <link rel="stylesheet" href="css/bootstrap-extend.css">

</head>

<body>

  <div class="container-fluid border-bottom mb-3 p-3 bg-efefef">
    <div class="container">
      <h1 ckass="mb-0"><$= __("header-title-pi") $></h1>
      <div class="small"><$= __("header-description") $></div>
    </div>
  </div>
