<$ include partials/header $>
  <div class="container-fluid">
    <div class="container input p-3">



      <!-- 動作検証用 -->
      <div id="twitter-panel" style="display: none;">
        <form class="input--form1">

          <div class="input--choose">
            <$= __("option-choose") $>
          </div>

          <input role="radio" class="base--radio" type="radio" id="twitter-Oprah" name="twitter" value="Oprah" data-lang="en">
          <label class="base--inline-label input--radio" for="twitter-Oprah">
            <img class="input--thumb" src="/images/twitter/oprah.png">@Oprah (<$= __("twitterlang-en") $>)</label>

          <input role="radio" class="base--radio" type="radio" id="twitter-faridyu" name="twitter" value="faridyu" data-lang="ja">
          <label class="base--inline-label input--radio" for="twitter-faridyu">
            <img class="input--thumb" src="/images/twitter/faridyu.jpg">@faridyu (<$= __("twitterlang-ja") $>)</label>

          <div class="input--button-container">
            <button type="submit" class="btn btn-primary input--submit-button1"><$= __("button-analyze") $></button>
          </div>
        </form>
      </div>
      <!-- / 動作検証用 -->

      <div class="text-right mb-2">
          <button class="btn btn-link input--reset-button" href="" type="reset"><i class="fas fa-redo"></i><$= __("button-reset") $></button>
      </div>


      <div id="your-twitter-panel">

        <form class="input--form3 auth-form" method='get' action='/auth/twitter'>

          <div class="text-center">
            <button type="submit" class="btn btn-lg btn-primary input--submit-button3"><$= __("button-analyzetwitter") $></button>
          </div>
          <div class="text-left mt-2">
            <small><$= __("note-twitter") $></small>
          </div>

        </form>

        <form class="input-form4 analysis-form" style="display:none">

          <div class="input--choose"><$= __("analysis-title") $></div>
          <input role="radio" class="base--radio" type="radio" id="my-twitter" name="twitter" value="myself">
          <label class="base--inline-label input--radio" for="my-twitter">
            <img class="input--thumb" src="/images/no-image.png">@<$= __("label-myself") $></label>

        </form>

      </div><!-- / #your-twitter-panel -->


    </div><!-- / .container -->
  </div><!-- / .container-fluid -->



  <div class="container-fluid border-top border-bottom p-3 bg-efefef">
    <div class="container">

      <div class="loading text-center">
        <div class="loading--icon">
          <img src="images/loading-indicator.gif" width="100%" alt="">
        </div>
        <small>分析しています...<br>数秒から数十秒で完了します...</small>
      </div><!-- / .loading -->

      <div class="error">
        <p class="error--message">
          <$= __("message-error") $>
        </p>
      </div><!-- / .error -->


      <div class="output">

        <h3 class="output--header"><$= __("title-output") $></h3>

        <div class="mb-5">
          <div>あなたに最強の Get Wild は・・・</div>
          <div class="song" id="js-track"></div>
          <div id="js-spotify"></div>
        </div>

        <!-- Twitter -->
        <div class="mb-5">
          <small>この結果を Twitter でシェアしよう！</small>
          <div>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="" data-url="https://getwild.mybluemix.net" data-show-count="false" id="js-twitter">Tweet</a>
          </div>
        </div>

        <h3 class="mb-3"><$= __("title-personality") $></h3>

        <h4 class="mb-3 output--word-count-header"><$= __("label-wordsanalyzed") $> <span class="output--word-count-number">0</span>

          <div class="output--word-count-message output--word-count-message_VERY-STRONG"><$= __("analysis-verystrong") $>
            <div class="output--word-count-tooltip_VERY-STRONG tooltip"><$= __("analysis-verystrong-desc") $></div>
          </div>
          <div class="output--word-count-message output--word-count-message_STRONG"><$= __("analysis-strong") $>
            <div class="output--word-count-tooltip_STRONG tooltip"><$= __("analysis-strong-desc") $></div>
          </div>
          <div class="output--word-count-message output--word-count-message_DECENT"><$= __("analysis-decent") $>
            <div class="output--word-count-tooltip_DECENT tooltip"><$= __("analysis-decent-desc") $></div>
          </div>
          <div class="output--word-count-message output--word-count-message_WEAK"><$= __("analysis-weak") $>
            <div class="output--word-count-tooltip_WEAK tooltip"><$= __("analysis-weak-desc") $></div>
          </div>
          <div class="output--word-count-message output--word-count-message_VERY-STRONG_NEW_MODEL"><$= __("analysis-verystrong") $>
            <div class="output--word-count-tooltip_VERY-STRONG tooltip"><$= __("analysis-verystrong-desc-new-model") $></div>
          </div>
          <div class="output--word-count-message output--word-count-message_STRONG_NEW_MODEL"><$= __("analysis-strong") $>
            <div class="output--word-count-tooltip_STRONG tooltip"><$= __("analysis-strong-desc-new-model") $></div>
          </div>
          <div class="output--word-count-message output--word-count-message_DECENT_NEW_MODEL"><$= __("analysis-decent") $>
            <div class="output--word-count-tooltip_DECENT_NEW_MODEL tooltip"><$= __("analysis-decent-desc-new-model") $></div>
          </div>
          <div class="output--word-count-message output--word-count-message_WEAK_NEW_MODEL"><$= __("analysis-weak") $>
            <div class="output--word-count-tooltip_WEAK tooltip"><$= __("analysis-weak-desc-new-model") $></div>
          </div>
        </h4>

        <div class="output-summary my-3 p-3 border bg-white">
            <div id="personalitySummary" class="output-summary--summary"></div>
        </div>

      </div><!-- / .output -->

    </div><!-- / .container -->
  </div><!-- / .container-fluid -->




  <div class="container-fluid p-3">
    <div class="container">

      <div>
        <small><a href='https://ja.wikipedia.org/wiki/GET_WILD_SONG_MAFIA' target='_blank'><i class="fas fa-external-link-alt"></i> <$= __("footer-album") $></a></small>
      </div>

      <hr>

      <div>
        <small class="inline-block"><$= __("label-whatelse") $></small>
      </div>
      <div>
        <small><a href="https://www.ibm.com/watson/jp-ja/developercloud/personality-insights.html?cm_mmc=dw-_-champions-_-champtracker-_-allchamps" target="_blank"><i class="fas fa-external-link-alt"></i> <$= __("button-science") $></a></small>
      </div>

      <hr>

      <div class="mb-3">
        <small><$= __("footer-creator") $> <a href="https://twitter.com/storywriter" target="_blank"><i class="fab fa-twitter"></i> @storywriter</a></small>
      </div>

    </div><!-- / .container -->
  </div><!-- / .container-fluid -->




  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<!-- 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/5.0.2/markdown-it.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
-->

  <script type="text/javascript" src="js/vendors/q.js"></script>
  <script type="text/javascript" src="js/components/q_util.js"></script>
<!--
  <script type="text/javascript" src="js/components/tab-panels.js"></script>
-->
  <script type="text/javascript" src="vendor/personality-text-summary/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-trait-info/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-trait-descriptions/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-trait-names/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-consumption-preferences/dist/index.js"></script>
<!--
  <script type="text/javascript" src="js/sunburst.js"></script>
-->

  <script type="text/javascript" src="js/demo.js"></script>
  <script type="text/javascript" src="js/consumption-preferences-likely-sort.js"></script>
  <script type="text/javascript" src="js/consumption-preferences-unlikely-sort.js"></script>

  <script type="text/javascript">
    var TWITTER_USER = <$- JSON.stringify(twitterUser) $>;
    var GENERIC_REQUEST_ERROR = '<$= __('error-request') $>';
    var OUTPUT_LANG = '<$= locale $>';
  </script>

<!--
  <script type="text/javascript" src="https://cdn.rawgit.com/watson-developer-cloud/watson-developer-cloud.github.io/master/analytics.js" />
-->

</body>
</html>
