@charset "UTF-8";


.btn .fas {
  margin-right: .5em;
  vertical-align: top;
}
.btn .fas {
  padding: .15em .25em 0 0;
}


.bg-efefef {
  background: #efefef !important;
}




.song {
  font-size: 2.0em;
  font-weight: bold;
}






/* -- もとのCSSからの移植 -- */

.input--thumb {
  width: 2.0rem;
  height: 2.0rem;
  vertical-align: middle;
  margin-right: 1.0rem;
  border-radius: 50%;
}

.base--p {
  margin-bottom: 1.0em;
}

.base--radio {
  display: none;
}
.base--radio + label:before {
  display: inline-block;
  height: 2.0em;
  margin-right: .5em;
  vertical-align: middle;
  border: .2em solid #17a2b8;
  content: '';
}

.loading {
  display: none;
}
.loading--icon {
  margin: 0rem auto;
  width: 7rem;
  height: 7rem;
}

.error {
  display: none;
}
.error--message {
  color: #e71d32;
}

.output {
  display: none;
}

.output--word-count-message {
  display: none;
}
.output--word-count-message.show {
  display: inline-block;
}
.output--word-count-message_VERY-STRONG {
  color: #00b4a0;
}
.output--word-count-message_STRONG {
  color: #4b8400;
}
.output--word-count-message_DECENT {
  color: #777677;
}
.output--word-count-message_WEAK {
  color: #e71d32;
}
.output--word-count-message_VERY-STRONG_NEW_MODEL {
  color: #00b4a0;
}
.output--word-count-message_STRONG_NEW_MODEL {
  color: #4b8400;
}
.output--word-count-message_DECENT_NEW_MODEL {
  color: #777677;
}
.output--word-count-message_WEAK_NEW_MODEL {
  color: #e71d32;
}
